<div class="content-panel">
  <div class="form-container">
    <app-text-field-input label="Input label" placeholder="Input placeholder"></app-text-field-input>
    <app-text-field-input label="Input label" placeholder="Input placeholder"></app-text-field-input>
    <app-text-field-input label="Input label" placeholder="Input placeholder"></app-text-field-input>
    <app-text-field-input label="Input label" placeholder="Input placeholder"></app-text-field-input>
    <app-text-field-input label="Input label" placeholder="Input placeholder"></app-text-field-input>
    <app-button label="Actions"></app-button>
  </div>
</div>
